workflows/2026/01/zIpmw0n54s2NaLx9.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-19T07:30:36.978Z",
    "createdAt": "2026-01-19T07:30:34.340Z",
    "versionId": "dfa2f674-0273-4b1b-bea1-3292f9490504",
    "workflowId": "zIpmw0n54s2NaLx9",
    "nodes": [
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "stock_day_all",
            "mode": "list",
            "cachedResultName": "stock_day_all"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "code": "={{ $json.Code }}",
              "date": "={{ $json.Date }}",
              "name": "={{ $json.Name }}",
              "trade_volume": "={{ $json.TradeVolume }}",
              "trade_value": "={{ $json.TradeValue }}",
              "opening_price": "={{ $json.OpeningPrice }}",
              "highest_price": "={{ $json.HighestPrice }}",
              "lowest_price": "={{ $json.LowestPrice }}",
              "closing_price": "={{ $json.ClosingPrice }}",
              "change": "={{ $json.Change }}",
              "transaction": "={{ $json.Transaction }}"
            },
            "matchingColumns": [
              "date",
              "code"
            ],
            "schema": [
              {
                "id": "date",
                "displayName": "date",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "code",
                "displayName": "code",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "name",
                "displayName": "name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "trade_volume",
                "displayName": "trade_volume",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "trade_value",
                "displayName": "trade_value",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "opening_price",
                "displayName": "opening_price",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "highest_price",
                "displayName": "highest_price",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "lowest_price",
                "displayName": "lowest_price",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "closing_price",
                "displayName": "closing_price",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "change",
                "displayName": "change",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "transaction",
                "displayName": "transaction",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          416,
          0
        ],
        "id": "d0ce770b-7eee-4504-9d0f-fdeb0b2890a2",
        "name": "Insert or update rows in a table",
        "credentials": {
          "postgres": {
            "id": "ZZBsyjJQplwRE8es",
            "name": "Postgres Account By TWSE"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 6
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "80220faa-0b14-4144-bf82-f9c0e08c52bf",
        "name": "每日 6:00 觸發"
      },
      {
        "parameters": {
          "url": "https://openapi.twse.com.tw/v1/exchangeReport/STOCK_DAY_ALL",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          208,
          0
        ],
        "id": "70cb6a53-3a90-4077-9350-5261e522e071",
        "name": "Call TWSE Open API"
      }
    ],
    "connections": {
      "每日 6:00 觸發": {
        "main": [
          [
            {
              "node": "Call TWSE Open API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call TWSE Open API": {
        "main": [
          [
            {
              "node": "Insert or update rows in a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wester Liou",
    "name": "Version dfa2f674",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "dfa2f674-0273-4b1b-bea1-3292f9490504",
  "connections": {
    "每日 6:00 觸發": {
      "main": [
        [
          {
            "node": "Call TWSE Open API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call TWSE Open API": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-19T07:28:23.365Z",
  "id": "zIpmw0n54s2NaLx9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "上市個股日成交資訊",
  "nodes": [
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "stock_day_all",
          "mode": "list",
          "cachedResultName": "stock_day_all"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "code": "={{ $json.Code }}",
            "date": "={{ $json.Date }}",
            "name": "={{ $json.Name }}",
            "trade_volume": "={{ $json.TradeVolume }}",
            "trade_value": "={{ $json.TradeValue }}",
            "opening_price": "={{ $json.OpeningPrice }}",
            "highest_price": "={{ $json.HighestPrice }}",
            "lowest_price": "={{ $json.LowestPrice }}",
            "closing_price": "={{ $json.ClosingPrice }}",
            "change": "={{ $json.Change }}",
            "transaction": "={{ $json.Transaction }}"
          },
          "matchingColumns": [
            "date",
            "code"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "code",
              "displayName": "code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "trade_volume",
              "displayName": "trade_volume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "trade_value",
              "displayName": "trade_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "opening_price",
              "displayName": "opening_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "highest_price",
              "displayName": "highest_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "lowest_price",
              "displayName": "lowest_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "closing_price",
              "displayName": "closing_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "change",
              "displayName": "change",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "transaction",
              "displayName": "transaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "d0ce770b-7eee-4504-9d0f-fdeb0b2890a2",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "ZZBsyjJQplwRE8es",
          "name": "Postgres Account By TWSE"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "80220faa-0b14-4144-bf82-f9c0e08c52bf",
      "name": "每日 6:00 觸發"
    },
    {
      "parameters": {
        "url": "https://openapi.twse.com.tw/v1/exchangeReport/STOCK_DAY_ALL",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "70cb6a53-3a90-4077-9350-5261e522e071",
      "name": "Call TWSE Open API"
    }
  ],
  "pinData": {},
  "repo_name": "twse-n8n-workflow",
  "repo_owner": "Wester-Liou",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-19T07:28:23.365Z",
      "createdAt": "2026-01-19T07:28:23.365Z",
      "role": "workflow:owner",
      "workflowId": "zIpmw0n54s2NaLx9",
      "projectId": "xSEk4qzxfACQ1iNP"
    }
  ],
  "staticData": {
    "node:每日 6:00 觸發": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2026-01-20T02:16:07.664Z",
      "createdAt": "2026-01-20T02:16:07.664Z",
      "id": "7nfOV4ucrbNv06rE",
      "name": "twse"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-20T02:16:58.247Z",
  "versionId": "dfa2f674-0273-4b1b-bea1-3292f9490504"
}